body{
  font-family: 'Quicksand', sans-serif;
  background-color: #e4f486;
}
h1, h2, h3{
  font-family: 'Bebas Neue', cursive;
}
h1{
  font-size: 3.5em;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.titulo{
  text-align: center;
}
.entrada{
  background-color: #b42484;
  color: white;
  font-size: 2em;
}
.salida{

  background-color: #d6a9c5;
}
